.forgot-password {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgot-password form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.forgot-password input {
  width: 50vw;
  padding: 10px 5px;
  margin-bottom: 10px;
}
