.main {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  margin-top: 70px;
}
.main-1 {
  min-width: 20vw;
  max-width: 20vw;
}
.main-2 {
  min-width: 55vw;
  max-width: 55vw;
}
.main-3 {
  min-width: 23vw;
  max-width: 23vw;
}

@media (max-width: 767px) {
  .main-3 {
    display: none;
  }
  .main-2 {
    max-width: 73vw;
    min-width: 73vw;
  }
  .main-1 {
    max-width: 25vw;
    min-width: 25vw;
  }
}
@media (max-width: 464px) {
  .main-1 {
    display: none;
  }
  .main-2 {
    min-width: 100vw;
    max-width: 100vw;
  }
}
