.tag-list {
  display: flex;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tag-list-item {
  margin-left: 20px;
  background-color: rgb(184, 237, 237);
  padding: 3px 5px;
  color: white;
  border: 1px solid rgb(165, 165, 218);
}
