.update-password {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.update-password form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.update-password form input,
.update-password form .button {
  min-width: 25vw;
  padding: 5px 8px;
  margin: 4px 6px;
}
@media (max-width: 760px) {
  .form input,
  .button {
    min-width: 50vw;
    padding: 5px 8px;
    margin: 4px 6px;
  }
}
